body {
    background: url("../images/background2.jpg");
    width: 100%;   
}

.container {
    margin-top: 80px;
}  

.panel-primary > .panel-heading {
    /* background-color: #0045ad;  */
    background: linear-gradient(to bottom right, blue, aqua);
    
  }

  h1 {
    letter-spacing: 3px;
}

.jumbotron {
    margin: 20px auto;
}

.col-lg-6 {  
}
.p {
    letter-spacing: 2px;
}

.panel-title {
    letter-spacing: 1px;

}

.panel-body {
    margin: 253px, 100px;
    /* background-color: #ffffff; */
}

.panel-heading {
    background-color: blue
}

.jumbotron {
  
    background: linear-gradient(blue, aqua);
color: white;
}